@import "components/normalize";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";

body {
    color: #607D8B;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
}

h1 {
    font-size: 2rem;
}

img { max-width: 100%; }

button {
    background: white;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    color: #4CAF50;
    cursor: pointer;
    font-weight: bold;
    min-width: 120px;
    padding: 10px;
}
button:hover {
    background: #4CAF50;
    color: white;
}

.Belong {
    margin: 0 auto;
    max-width: 1100px;
}
.Belong.selected {
    margin: 0;
    padding-right: 50%;
}
.Header {
    align-items: center;
    border-bottom: 3px solid #B0BEC5;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.MainFilters {
    border-bottom: 1px solid #B0BEC5;
    padding: 10px 20px;
}
.MoreFilters {
    border-bottom: 2px solid #B0BEC5;
    padding: 10px 20px;
}
.MoreFiltersButton {
    border: none;
    text-decoration: underline;
}
.MoreFilters label {
    margin-right: 10px;
}

.Callout {
    background: #eee;
    padding: 20px;
}
.Category {
    align-items: center;
    display: flex;
}
.CategoryIcon {
    align-items: center;
    border-radius: 50%;
    border: 2px solid #4CAF50;
    color: #4CAF50;
    display: flex;
    height: 40px;
    justify-content: center;
    margin-right: 10px;
    width: 40px;
}
.CategoryIcon .fa {
    font-size: 20px;
}
.ListItem {
    align-items: center;
    border-top: 1px solid #ddd;
    display: flex;
    padding: 20px;
}
.ListItemImage {
    width: 200px;
}
.ListItemDetails {
    align-self: stretch;
    flex: 1;
    padding: 0 20px;
}
.DetailView {
    background: #fff;
    border-left: 1px solid #B0BEC5;
    box-shadow: 0 0 20px rgba(black,.19), 0 6px 6px rgba(black,.23);
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
}
.DetailBody {
    flex: 1;
    overflow: scroll;
    padding: 0 40px 40px;

    img {
        width: 400px;
    }
}
.DetailsOrganization {
    margin-top: 3rem;
}
.DetailFoot {
    padding: 20px;
    box-shadow: 0 0 6px rgba(black,.16), 0 3px 6px rgba(black,.23);
}
.DetailFootButton {
    background: #4CAF50;
    color: white;
    font-size: 1.2rem;
    max-width: 300px;
    width: 100%;
}
.DetailFootButton:hover {
    background: #43A047;
}
