@import "components/normalize";

@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";

$color-primary: rgb(102, 187, 106);
$color-primary-dark: #43A047;
$breakpoint-desktop: 960px;

body {
    background: #f9f9f9;
    color: #607D8B;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
}

h1 {
    font-size: 1vw;
}
h2 {
    font-weight: 400;
}
h2 small {
    color: rgba(0, 0, 0, 0.541176);
    font-size: .65em;
}

p {
    margin: 0;
}
p + * {
    margin-top: 1rem;
}

.Belong-main {
    margin-top: 50px;
    transition: all 300ms ease-out;
}
.Belong-navigation {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}
@media screen and (min-width: $breakpoint-desktop){
    .Belong.selected .Belong-main,
    .Belong.selected .Belong-navigation {
        width: 60vw !important;
    }
}

.Header {
    align-items: center;
    border-bottom: 3px solid #B0BEC5;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.FilterBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 300ms ease-out;
}
.MainFilters {
    border-bottom: 1px solid #B0BEC5;
    padding: 10px 20px;
}
.MoreFilters {
    display: flex;
    border-bottom: 2px solid #B0BEC5;
    padding: 10px 20px;
    > * {
        flex: 0 1 auto;
        max-width: 20%;
    }
}
.EmptyState {
    text-align: center;
    padding: 4.5rem 2vw;
    background: #f7f7f7;
}
.Callout {
    background: #eee;
    padding: 20px;
}
.Category {
    align-items: center;
    display: inline-flex;
}
.CategoryIcon {
    color: $color-primary;
    margin-right: 10px;
    .Category._inverse & {
        color: white;
    }
}
.CategoryIcon .fa {
    font-size: 20px;
}
.List {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2vw 0;
    > * {
        flex: 1 1 250px;
        min-width: 250px;
        max-width: 400px;
        margin: .5rem;
        max-height: 500px;
        cursor: pointer;
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.117647) 0px 5px 11px, rgba(0, 0, 0, 0.117647) 0px 6px 16px !important;
        }
    }
}
.DetailView-container {
    position: fixed;
    top: 0;
    right: 0;
    background: #fff;
    height: 100%;
    width: 0;
    transition: all 300ms ease-out;
    z-index: 1111;
    flex-basis: 0;
}
.Belong.selected .DetailView-container {
    width: 100vw;
}
.DetailView {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
}
@media screen and (min-width: $breakpoint-desktop){
    .DetailView,
    .Belong.selected .DetailView-container {
        width: 40vw;
    }
}
.DetailView-image {
    position: relative;
    height: 6.25vh;
    overflow: hidden;
    display: flex;
    background: $color-primary;
    flex-direction: column;
    justify-content: center;
    img {
        display: none;
        max-width: 100%;
        flex: 0 0 auto;
    }
}
.DetailBody-head {
    padding: 1rem 2rem;
    background: $color-primary;
    h2 {
        margin: 0;
    }
}
.DetailBody {
    flex: 1;
    overflow-y: auto;

    img {
        width: 100%;
    }
    &-content {
        padding: 2rem;
    }
}
.DetailsOrganization {
    margin-top: 3rem;
}
.DetailFoot {
    padding: .5rem;
}
