.DetailView-container {
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  height: 100%;
  width: 0;
  transition: all 300ms ease-out;
  flex-basis: 0;
  z-index: 10;
}
.Belong.selected .DetailView-container {
  width: 100vw;
}
.DetailView {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
}
@media screen and (min-width: $breakpoint-desktop){
  .DetailView,
  .Belong.selected .DetailView-container {
    width: 40vw;
  }
}
.DetailView-image {
  position: relative;
  min-height: 6.25vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $color-primary no-repeat center center / cover;
  &.has-image {
    height: 40vh;
  }
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, transparent 30%);
  }
}
.DetailBody-head {
  padding: 1rem 2rem;
  background: $gradient2;
  h2 {
    margin: 0;
  }
}
.DetailBody {
  flex: 1;
  overflow-y: auto;

  img {
    width: 100%;
  }
  &-content {
    padding: 2rem;
  }
}
.DetailsOrganization {
  margin-top: 3rem;
}
.DetailFoot {
  padding: .5rem;
}
