.List {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2vw 0;
  > * {
    flex: 1 1 250px;
    min-width: 250px;
    max-width: 400px;
    margin: .5rem;
    max-height: 500px;
    cursor: pointer;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.117647) 0px 5px 11px, rgba(0, 0, 0, 0.117647) 0px 6px 16px !important;
    }
  }
}
