$color-primary: rgb(102, 187, 106);
$color-primary-dark: #43A047;
$breakpoint-desktop: 960px;

$palette900: rgb(49, 27, 146);
$palette800: rgb(83, 31, 153);
$palette700: rgb(115, 38, 155);
$palette600: rgb(145, 48, 155);
$palette500: rgb(172, 62, 153);
$palette400: rgb(196, 82, 151);
$palette300: rgb(216, 108, 151);
$palette200: rgb(233, 141, 155);
$palette100: rgb(246, 183, 163);
$palette000: rgb(255, 236, 179);

$accent900: rgb(62, 39, 35);
$accent800: rgb(116, 54, 34);
$accent700: rgb(159, 72, 35);
$accent600: rgb(192, 93, 39);
$accent500: rgb(217, 116, 48);
$accent400: rgb(234, 141, 62);
$accent300: rgb(245, 167, 82);
$accent200: rgb(251, 194, 111);
$accent100: rgb(254, 221, 148);
$accent000: rgb(255, 249, 196);

$gradient1: linear-gradient(to top right, $palette800, $palette700 20%, $palette600 65%, $palette500);
$gradient2: linear-gradient(to bottom left, $palette600, $palette500 40%, $palette300);
$gradient3: linear-gradient(to top right, $accent600, $accent500 20%, $accent400 65%, $accent300);
$gradient4: linear-gradient(to bottom left, $accent600, $accent500 40%, $accent300);

$color-primary: $accent400;
